<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.southernronnie.thehungrysouth"
    versionCode = "1"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>The Hungry South </name>

  <description>
     9 great Pork recipes
  </description>

  <author  email="newnannow@gmail.com">
      Southern Ronnie
  </author>

</widget>

